@model IEnumerable<MvcMovie.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}    
<h1>Index</h1>
<form asp-action="index">
        <lindexabel>Search:   </lindexabel><input type="text" name="name"/>
        <input type="submit" value="Tìm kiếm"/>
    </form>

<p>
    <a asp-action="create">Create New</a>
    <a class="btn btn-success" asp-action="Dowload">Dowload</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PersonId
            </th>
            <th>
                FullName
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
    @if(Model != null){    
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PersonId)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    <a asp-action="edit" asp-route-id="@item.PersonId">Edit</a>
                    <a asp-action="delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr> 
        }
    }    
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page}), new X.PagedList.Mvc.Core.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, PageClasses = new string[] { "page-link" }})

